.dropdown-menu{
	min-width: 250px;
	padding-top: 40%;
	padding-bottom: 2	0%;
}

#login-form{
	width: 100%;
}

.form-group{
	margin-left: 10%;
	margin-right: 10%;
}

.title{
	text-align: left;
	color: black;

	font-size: 1.5em;
}

.post{
	background-color: white;
	margin-bottom: 10%;
}

.postBody{
	color: rgb(82, 80, 80);
	text-align: center;
	text-align: left;
}

.comments{
	background-color: rgb(186, 179, 179);
	color: rgb(84, 80, 80);
	text-align: left;
}

.commentMainText{
	margin: 2%;
}

.postComment{
	border:5px solid grey;
	margin-bottom: 5px;
}

.commentsTag{
	color:black;
	text-align: center;
}