.dropdown-menu{
	min-width: 250px;
	padding-top: 40%;
	padding-bottom: 2	0%;
}

#login-form{
	width: 100%;
}

.form-group{
	margin-left: 10%;
	margin-right: 10%;
}

.title{
	text-align: left;
	color: black;
	margin: 2%;
	font-size: 1.5em;
}

.post{
	background-color: white;
	margin-bottom: 10%;
}

.postBody{
	color: rgb(82, 80, 80);
	text-align: center;
}